@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .prose h1 {
    @apply text-gray-900 font-bold text-4xl mb-4;
  }
}

@keyframes pan-zoom {
  0% {
    transform: scale(1) translate(0, 0);
  }

  50% {
    transform: scale(1.2) translate(-10px, -10px);
  }

  100% {
    transform: scale(1) translate(0, 0);
  }
}

.pan-zoom {
  @apply transition-transform duration-100 ease-in-out;
}

.group:hover .pan-zoom {
  animation: pan-zoom 5s infinite;
}